{% extends "students/base.html" %}
{% block title %}
    O'chirish
{% endblock %}
{% block content %}
    <main class="container">
        <section class="confirm-card">
            <p class="eyebrow">Delete</p>
            <h1>Ali Valiyev o‘chirilsinmi?</h1>
            <p>Bu hozircha faqat frontend namuna. Tugmalar backendga ulanmagan.</p>

            <div class="button-row">
                <a class="button" href="student_detail.html">Bekor qilish</a>
                <a class="button button--danger" href="student_list.html">Ha, o‘chirish</a>
            </div>
        </section>
    </main>
{% endblock %}

